
html {
  margin-left: -10px;
  margin-top: -10px;
  scroll-behavior: smooth;
}
body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	color: #333;
}

header {
	background-color: #663399;
	color: #fff;
	text-align: center;
	padding: 0px;
}

header img {
  width: 300px;
  height: 130px;
  transition: all 0.5s;
}

header img:hover {
  transform: scale(1.1);
}

nav {
	background-color: #4d4d4d;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}



main {
	padding: 20px;
}

section {
	margin-bottom: 0px;
}

#portfolio {
  margin-top: 10px;
  color: white;
  margin-left: 10px;
}

#backgroundPorf {
  background-color: #663399;
  padding: 10px;
}

#portfolio h2, p {
  display: flex;
  justify-content: center;
}

#portfolio ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: 10px;
}

#portfolio ul li img {
  user-select: none;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#portfolio ul li img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(158, 84, 255), 0px 0px 20px rgb(158, 84, 255), 0px 0px 100px rgb(158, 84, 255);
}

/*Sliders*/

.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  animation: slide 8s infinite alternate;
}

.slides img {
  width: 1920px;
  height: 500px;
  object-fit: cover;
  
}

#Instagram {
  background-image: url('../imagenes/violetagif.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-left: 10px; /* Ajusta el valor del margen izquierdo según tus necesidades */
}


#Instagram h2 {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

#Instagram p {
  color: white;
}

#qr {
  margin-top: -30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#Descuento {
  background-color: #663399;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 20px;
}
#texto h1 {
  font-size: 50px;
  text-shadow: 0px 0px 20px rgb(158, 84, 255), 0px 0px 10px rgb(158, 84, 255)
}

#texto {
  display: flex;
  text-align: center;
  width: 500px;
}
#Descuento img {
  user-select: none;
  width: 20%;
  box-shadow: 0px 0px 20px rgb(158, 84, 255), 0px 0px 10px rgb(158, 84, 255)

}

#Descuento {
  margin-left: 10px;
}




@media screen and (max-width: 500px) {

  main {
    padding: 0;
    margin: 0px;
  }

  html {
    width: 400px;
  }

  header {
    width: 390.5px;
  }

  nav {
    width: 370px;
  }
  
  .slider {
    display: none;
  }

  .slides img {
    width: 400px;
    height: 100px;
    object-fit: cover;
  }

  #portfolio {
    margin-top: 10px;
    color: white;
  }
  #portfolio ul li img {
    user-select: none;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #portfolio ul li img:hover {
    transform: scale(2);
    box-shadow: 0px 0px 10px rgb(158, 84, 255), 0px 0px 20px rgb(158, 84, 255), 0px 0px 100px rgb(158, 84, 255);
  }

  #Descuento {
    background-color: #663399;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    align-items: center;
    margin-left: 10px;
  }
  #texto h1 {
    font-size: 40px;
    text-shadow: 0px 0px 20px rgb(158, 84, 255), 0px 0px 10px rgb(158, 84, 255)
  }
  
  #texto {
    width: 350px;
  }
  #Descuento img {
    user-select: none;
    margin-top: -60px;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(158, 84, 255), 0px 0px 10px rgb(158, 84, 255)
  }

  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #663399;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .scroll-top-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #663399;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .scroll-top-btn img {
    display: block;
    width: 100%;
    height: 100%;
    filter: invert();
  }
  
  .scroll-top-btn:focus,
  .scroll-top-btn:hover {
    background-color: #4b2882;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.333% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1920px);
  }
  100% {
    transform: translateX(-1920px);
  }
}

.slider:hover .slides {
  animation-play-state: paused;
}

.scroll-top-btn {
  
  display: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #663399;
  border-radius: 50%;
  overflow: hidden;
}

.scroll-top-btn img {
  display: block;
  width: 100%;
  height: 100%;
  filter: invert();
}

.scroll-top-btn:focus,
.scroll-top-btn:hover {
  background-color: #4b2882;
}







